* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;

  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

ul {
  display: flex;
}

li {
  margin: 0 8px;
}

.navLinks {
  color: blue;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid blue;
}

#headerToggle,
#headerClose {
  display: none;
}
.blueBanner {
  width: 100vw;
  height: 50px;
  background-color: rgb(42, 42, 144);
}
.blueBanner a {
  color: white;
  line-height: 50px;
  margin-left: 220px;
}

@media screen and (max-width: 786px) {
  header {
    height: 48px;
    justify-content: space-around;
    padding: 0 20px;
    background-color: rgb(42, 42, 144);
  }

  .blueBanner {
    background-color: white;
    color: blue;
  }
  .logo img {
    width: 100px;
  }

  #headerToggle {
    display: inline;
    color: #eee;
  }

  #headerClose {
    position: absolute;
    right: 24px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
    color: white;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(42, 42, 144);
    color: black;
    width: 60%;
    padding: 24px 0;
    z-index: 1;
    height: 100vh;
    transition: 0.5s;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 1rem;
  }
  .show {
    right: 0;
  }
  .infoBox {
    margin-left: 0;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
  }
}

.inputsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
}

.left {
  width: 48%;
  display: flex;
  flex-direction: column;
}
h4 {
  text-align: center;
  color: rgb(85, 85, 200);
  display: inline-block;

  width: 100px;

  margin: 0 auto;
  border-bottom: 1px solid rgb(42, 42, 144);
}

h5 {
  margin: 30px;
  margin-left: 120px;
  border-bottom: 1px solid black;
}

.right {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.rightInput {
  background: #eee;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input {
  border: none;
  border-bottom: 1px dashed #999;
  margin: 10px 0;
  padding: 5px;
  width: 400px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 42, 144);
  padding: 10px;
}

button a {
  color: white;
}

.blueBigBtn {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blueBigBtn button {
  width: 300px;
}
footer p {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
